<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" thread-count="6" parallel="tests">
    <test name="Chrome" thread-count="6" parallel="methods">
        <parameter name="browser" value="Chrome" />
        <!--<classes>
            <class name="com.frontendprojb.qa.testcases.HomePageTest">
                &lt;!&ndash;<methods>
                    <include name="getPageTitle" />
                </methods>&ndash;&gt;
            </class>
        </classes>-->
        <packages>
            <package name="com.frontendprojb.qa.testcases"/>
        </packages>
    </test>

    <test name="Firefox" thread-count="6" parallel="methods">
        <parameter name="browser" value="Firefox" />
        <!--<classes>
            <class name="com.frontendprojb.qa.testcases.HomePageTest">
                &lt;!&ndash;<methods>
                    <include name="getPageTitle" />
                </methods>&ndash;&gt;
            </class>
        </classes>-->
        <packages>
            <package name="com.frontendprojb.qa.testcases"/>
        </packages>
    </test>
</suite>